# IDE & OS
*.iml
.idea
.DS_Store
xcuserdata
*.xcuserstate

# Build & Gradle
.gradle
build
out
.externalNativeBuild
.cxx
captures

# Kotlin
.kotlin
.konan

# Android
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class

# iOS / Xcode
Pods/
DerivedData/
*.xcworkspace
!default.xcworkspace

# Keys & secrets
*.gpg
*.jks
*.keystore
.env
.env.local